.form-select{
    background: #253E51;
    color: white;
    box-shadow: 0 0 0 0.5px white;
}

.evaluation-card {
    background: #253E51;
    border: 1px solid #218df4;
    border-radius: 8px;
    color: black;
    padding: 16px;
//box-shadow: 0 2px 4px rgb(33, 141, 244);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 200px; /* Limits the card width */
    flex: 1 1 calc(25% - 10px); /* Adjusts card to occupy ~25% of the row minus the gap */
    box-sizing: border-box; /* Ensures padding/border are included in the width */
}

.evaluation-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.evaluation-card h3 {
    color: white;
    font-weight: bold;
    margin: 0 0 8px;
    border-bottom: 2px solid #218df4; /* Linie reală de culoare albastră */
    padding-bottom: 4px; /* Spațiu între text și linie */
}

.evaluation-card p {
    margin: 4px 0;
    color: white;
}

.list-group {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line */
    gap: 10px; /* Adds spacing between cards */
    padding: 0; /* Removes default padding */
    list-style: none; /* Removes bullet points */
    margin: 0; /* Removes default margin */
}