
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.min-h-screen {
    background-image:radial-gradient(circle,#CBDAE6,#253E51) !important;
}
button:hover {
    background-color: #6F9FBC !important;
}


