#layout {
  height: 100vh; /* Ensure full viewport height */
  display: flex; /* Layout adjustments for responsiveness */
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #001529;
  height: 100vh;
  overflow: hidden; /* Prevent overflow issues */
  transition: width 0.6s ease, max-width 0.6s ease; /* Smooth transition */
}

.sidebar.collapsed {
  width: 80px;
}

.menu-icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.menu-icon {
  color: #fff;
  font-size: 24px;
}

.menu-container {
  flex-grow: 1;
  padding: 10px;
}

.menu-container.collapsed .ant-menu-item {
  justify-content: center;
  text-align: center;
}

.bottom-items {
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.account {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  padding-left: 0;
  gap: 5px;
  transition: opacity 0.5s ease;
}

.account span {
  display: block;
}

.sidebar.collapsed .account span {
  display: none; /* Hide text in collapsed mode */
}

.ant-menu-item {
  display: flex;
  align-items: center !important;
  transition: padding 0.5s ease;
  padding: 0 !important;
}

.ant-menu-item-icon {
  font-size: 20px !important;
}

.ant-layout {
  max-width: 200px;
  transition: width 0.6s ease, max-width 0.6s ease;
}

.ant-menu-item span {
  display: inline;
  margin: auto 10px !important;
  margin-left: 10px;
}

.sidebar.collapsed .ant-menu-item span {
  display: none; /* Hide menu text in collapsed mode */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 10;
  }

  .sidebar.collapsed {
    width: 80px;
  }
}
