#layout {
  height: 100vh;
  display: flex;
  background-color: #19293B;
  transition: background-color 0.3s ease;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #19293B;
  height: 100vh;
  overflow: hidden;
  transition: width 0.6s ease, max-width 0.6s ease, background-color 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
  background-color: #19293B;
}


.menu-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-icon {
  color: #fff;
  font-size: 24px;
}


.menu-container {
  flex-grow: 1;
  padding: 0;
  overflow: hidden;
}


.menu-container ul {
  background-color: #19293B !important;
}

.menu-container .ant-menu-item {
  justify-content: flex-start;
  text-align: left;
  padding: 8px 15px;

}

.menu-container.collapsed .ant-menu-item {
  justify-content: center;
  text-align: center;
}

.collapsed-menu-item span {
  display: none;
}

.bottom-items {
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;

}
.account {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  padding-left: 24px;
  margin-left: 4px;
  gap: 10px;
  transition: opacity 0.5s ease, padding-left 0.6s ease;
}

.account span {
  display: block;
  transition: opacity 0.5s ease;
}
.closed .account {
  margin-left: 0 !important;
  padding-left: 16px !important;
}
.sidebar.collapsed .account span {
  opacity: 0;
  pointer-events: none;
}

.ant-menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: padding 0.5s ease;
  padding: 10px 15px;
  color: #fff;
  background-color: #19293B !important;
}
.ant-menu {
  background-color: #19293B !important;
}

.ant-menu-item-icon {
  font-size: 20px !important;
}

.ant-layout {
  max-width: 200px;
  transition: width 0.6s ease, max-width 0.6s ease;
}
.ant-layout.closed {
  max-width: 80px;
  transition: width 0.6s ease, max-width 0.6s ease;
}
.ant-menu-item span {
  display: inline-block;
  margin: 0 10px;
  transition: opacity 0.5s ease;
}

.sidebar.collapsed .ant-menu-item span {
  display: none;
  opacity: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 10;
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .menu-container .ant-menu-item {
    justify-content: center;
  }
}

