/* Stiluri generale pentru formular */
form {
  max-width: 500px;
  max-height: 80vh;
  margin: 40px auto; /* Centrare pe orizontală */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundal alb translucid */
  border: 1px solid #ddd;
  border-radius: 12px; /* Colțuri mai rotunjite */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow-y: auto; /* Scroll pentru conținut lung */
}

.collab-color{
  color: white !important;
}

form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Asigură că label-ul este deasupra input-ului */
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Colțuri rotunjite */
  font-size: 14px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

form input:focus,
form textarea:focus {
  border-color: #9F7AEA; /* Highlight pe focus */
  outline: none;
  background-color: #faf7ff;
}

form textarea {
  min-height: 100px;
  resize: vertical;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px; /* Colțuri mai rotunjite */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

form button[type="submit"] {
  background-color: #0b253e;
  color: white;
}

form button[type="submit"]:hover {
  background-color: #218df4;
  transform: scale(1.05);
}

form button[type="button"] {
  background-color: #eee;
  color: #333;
}

form button[type="button"]:hover {
  background-color: #ddd;
}

form:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Dropzone */
.dropzone {
  border: 1px dashed #0b253e;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px; /* Colțuri rotunjite */
  transition: background-color 0.3s ease;
}

.dropzone p{
  color: #39028a !important;
}

.dropzone:hover {
  background-color: #faf7ff;
}

.file-item {
  display: flex; /* Make the row flex */
  flex-direction: row; /* Ensure items are in a single row */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Push items to the edges */
  margin-bottom: 5px;
  padding: 5px 0; /* Add some padding for better spacing */
  border-bottom: 1px solid #ccc; /* Optional: Divider between items */
}

.file-item span {
  flex-grow: 1; /* Ensure the file name takes up available space */
  margin-right: 10px; /* Add spacing between the file name and button */
  word-break: break-word; /* Ensure long text wraps properly */
  text-align: left; /* Align the text to the left */
}
.file-list p, .existing-files p{
  color:rgba(0,0,0,60%) !important;
}
.remove-file-btn {
  background-color: red!important;
  color: white !important;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap; /* Prevent text wrapping */
  transition: background-color 0.3s ease;
}

.remove-file-btn:hover {
  background-color: darkred !important; /* Provide hover feedback */
}
.close-icon{
 stroke: black;
  stroke-width: 0.5px;
}
/* Stilizare pentru colaboratori și tag-uri */
.collaborators-container,
.url-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tags-input {
  display: flex;
  flex-wrap: wrap; /* Permite să fie mai multe rânduri */
  gap: 10px; /* Spațiere între tag-uri */
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-bottom: 0;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Textul la stânga, iconul la dreapta */
  max-height: 25px;
  max-width: calc(60% - 15px); /* Limităm lățimea pentru 3 pe un rând */
  min-width: 100px; /* Dimensiune minimă pentru tag */
  padding: 5px 10px;
  background-color: #39028a;
  color: white;
  font-size: 12px;
  border-radius: 12px; /* Rotunjit complet */
  transition: background-color 0.3s ease;
  margin-right: 8px; /* Spațiu între tag-uri */

  /* Stiluri pentru limitarea textului */
  white-space: nowrap;            /* Previne textul să treacă pe linii noi */
  text-overflow: ellipsis;        /* Adaugă "..." la sfârșitul textului */
}

.tag p {
  display: inline-block;
  font-size: 13px !important;
  max-width: 50ch !important; /* Limitează lungimea textului */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag:hover {
  background-color: #2c0468;
  color: white  ;
}

.tag .icon {
  width: 16px; /* Dimensiune fixă pentru icon */
  height: 16px; /* Dimensiune fixă pentru icon */
  margin-left: 5px; /* Spațiu între text și icon */
  color: white;
  cursor: pointer;
  font-size: 16px; /* Reduci fontul pentru a face iconul mai mic */
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center; /* Aliniere centrală pentru icon */
  flex-shrink: 0; /* Previne ca iconul să se redimensioneze */
}
.tag .icon:hover {
  background: none !important; /* Ensure no background is applied */
  color: #f8d7da; /* Optional: Change the icon color on hover */
}

.tags-input input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  padding: 5px;
}

.error-message {
  font-size: 16px !important;
  background-color: yellow;
  color: #d8000c !important;
  padding: 8px;
  border: 1px solid #d8000c;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

/* Fundal pentru pagina principală */
.min-h-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(115deg, #9F7AEA, #fee2fe);
}

.tag-existent {
  background-color: #28a745; /* Verde pentru existent */
  color: white;
}

.tag-inexistent {
  background-color: #dc3545; /* Roșu pentru inexistent */
  color: white;
}
.tag-unavailable{
  color: black;
  background-color: yellow; /* Galben pentru unaviable */
  border: 1px solid orange;
}

.collaborators-container {
  margin-bottom: 0 !important; /* Ajustează pentru a micșora distanța */
}
.edit-project-form .info-button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  color: #0b253e; /* Icon color */
  font-size: 18px; /* Adjust size */
  cursor: pointer; /* Show pointer cursor */
  display: inline-flex; /* Align icon and text inline */
  align-items: center; /* Vertically align items */
  gap: 5px; /* Space between icon and text */
  transition: color 0.3s ease; /* Smooth color transition */
}

.edit-project-form .info-button:hover {
  color: #218df4; /* Change color on hover */
}
.edit-project-form .legend {
  color: #333;
  padding: 5px;
  background-color: #a6a6a6;
  border-radius: 8px;
}
.edit-project-form .legend p {
  font-size: 11px !important;}