.btnEdit, .btnAdd{
   position: absolute;
  top: 10px;
  right: 10px;
  background-color: #001529; /* O culoare albastră */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btnAdd {
  margin-top: 10px;
}

.btnEdit:hover{
    background-color: #0f0f1c;
}


.btnAdd:hover, .btnEdit:hover {
  background-color: #222245;
}


.my-project {
  max-width: 600px;
  max-height: 100vh;
  margin: 5px auto;
  padding: 20px;
  background-color: #001529;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.my-project-text{
  color: white;
}

.no-project {
  max-width: 400px;
  padding: 15px;
  background-color: #001529;
  color: white;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
}

.no-project p {
  font-size: 18px;
  margin-bottom: 20px;
}




