
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #19293B;
    color: white;
}

.custom-table th, .custom-table td {
    padding: 0.2rem 0.3rem;
    vertical-align: center;
    border: 1px solid #0b141b;
}

.custom-table thead th {
    background-color: #232830;
    color: white;
    font-weight: bold;
}

.custom-table tbody tr:hover {
    background-color: #243b4e;
}

.form-select2 {
    width: 100px;
    margin-left: auto;
    background-color: #19293B;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-select2:focus {
    border-color: #26a69a;
    box-shadow: 0 0 5px rgba(38, 166, 154, 0.75);
}

.form-select2 option {
    background-color: #243b4e;
    color: white;
}

.text-end .form-select {
    display: block;
    text-align: right;
}
.button {
    margin-right: 10px;
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-edit {
    background-color: #ffc107;
    color: #000;
}
.button-save {
    background-color: #05a500;
    color: #000;
}
.button-delete {
    background-color: #dc3545;
    color: #fff;
}

.button:hover, .button:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
