.min-h-screen {
    background-image:radial-gradient(circle,#CBDAE6,#253E51);
}

.my-project-container {
    position:relative;
    border: 1px solid #007BFF;
}

.my-project h1,
.my-project h2,
.my-project h3,
.my-project p,
.my-project ul,
.my-project li {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    line-height: 1.5;
    margin-bottom: 10px;
}

.my-project h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.my-project p,
.my-project h2,
.my-project h3{
    font-size: 18px;
    font-weight: bold;
}


.my-project ul {
    padding-left: 20px;
    margin-top: 10px;
}

.my-project strong {
    font-weight: bold;
}

.my-project .overall-score,
.my-project .my-evaluation-form {
    margin-top: 10px;
}

.close-button {
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    background: none;
    border: none;
    font-size: 20px;
    color: #ffffff !important;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
    z-index: 10;
}

.close-button:hover {
    transform: scale(1.2);
    background: none !important;

}

.my-evaluation-form {
    display: flex;
    background: #253E51;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-evaluation-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 14px;
    background: lightgray !important;
}

.my-evaluation-form button {
    padding: 8px 12px;
    background-color: #253E51 !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.my-evaluation-form button:hover {
    background-color: #0056b3;
}

.my-evaluation-form input,
.my-evaluation-form button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.evaluations-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #253E51;
    padding: 2px;
    border-radius: 4px;
    background-color: #253E51;
}

.evaluations-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.evaluations-list li {
    padding: 5px 5px;
    border-bottom: 1px solid #ffffff;
}

.evaluations-list li:last-child {
    border-bottom: none;
}

.url-link{
    color: #ffffff !important;
}


.overall-score {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    border-top: 1px solid #ffffff;
}


