.min-h-screen {
    background-image:radial-gradient(circle,#CBDAE6,#253E51);
}

.my-project-container {
    position:relative;
    border: 1px solid #007BFF;
}
.close-button {
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    background: none;
    border: none;
    font-size: 20px;
    color: #ffffff !important;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease, color 0.2s ease;
    z-index: 10;
}

.close-button:hover {
    transform: scale(1.2);
    background: none !important;

}

.my-evaluation-form {
    display: flex;
    background: #253E51;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-evaluation-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background: lightgray !important;
}

.my-evaluation-form button {
    padding: 8px 12px;
    background-color: #253E51 !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.my-evaluation-form button:hover {
    background-color: #0056b3;
}

.evaluations-container {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.evaluations-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.evaluations-list li {
    padding: 8px;
}
.overall-score {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}